#my_popup {

	border: 1px solid #00000f; 
	border-radius: 9px;

}
button {
	background-color: #eeebd9;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #eeebd9;
  padding: 5px;
  width: 67px;
  height: 40px;
}

button:hover {
box-shadow: 10px 10px 5px #000000;
	opacity: 0.6;}